{% extends 'base.html.twig' %}

{% block body %}
        <h1>Airbus A320</h1>
    <pre>
        <br/>
        <h2>Wygląd</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/VQ-BKU%40LHR_18AUG12_%288621590880%29.jpg/300px-VQ-BKU%40LHR_18AUG12_%288621590880%29.jpg" alt="Airbus" />
        <br/>
        <br/>
        <h2>Opis</h2>
        <p>
        The Airbus A320 family consists of short- to medium-range, narrow-body, commercial passenger twin-engine jet airliners manufactured by Airbus. The family includes the A318, A319, A320 and A321, as well as the ACJ business jet. The A320s are also named A320ceo (current engine option) after the introduction of the A320neo. Final assembly of the family in Europe takes place in Toulouse, France, and Hamburg, Germany. Starting in 2009, a plant in Tianjin, China, has also been producing aircraft for Chinese airlines. In April 2013, Airbus started construction of a new production facility for the A319, A320, and A321 variants in Mobile, Alabama. The aircraft family can accommodate up to 220 passengers and has a range of 3,100 to 12,000 km (1,700 to 6,500 nmi), depending on model.
The first member of the A320 family—the A320—was launched in March 1984, first flew on 22 February 1987, and was first delivered in March 1988. The family was soon extended to include the A321 (first delivered 1994), the A319 (1996), and the A318 (2003). The A320 family pioneered the use of digital fly-by-wire flight control systems, as well as side-stick controls, in commercial aircraft. There has been a continuous improvement process since introduction.
In December 2010, Airbus announced a new generation of the A320 family, the A320neo "New Engine Option". The A320neo offers a choice of CFM International LEAP-X or Pratt & Whitney PW1000G engines, combined with airframe improvements and the addition of winglets, named Sharklets by Airbus. The aircraft will deliver fuel savings of up to 15%. The first A320neo will enter service with Virgin America in 2016. As of December 2011, a total of 1,196 A320neo family aircraft have been ordered by 21 airlines, making it the fastest ever selling commercial aircraft.
As of 31 January 2015, a total of 6,415 Airbus A320 family aircraft have been delivered, of which 6,157 are in service. In addition, another 5,099 airliners are on firm order. It ranked as the world's fastest-selling jet airliner family according to records from 2005 to 2007, and as the best-selling single-generation aircraft programme. The A320 family has proved popular with airlines including low-cost carriers such as EasyJet which purchased A319s, and A320s, to replace its Boeing 737 fleet. The aircraft family competes directly with the Boeing 737 and has competed with the 717, 757, and the McDonnell Douglas MD-80/MD-90.
        </p> 
    </pre>
{% endblock %}

