{% extends 'base.html.twig' %}

{% block body %}
        <h1>Boeing 737</h1>
    <pre>
        <br/>
        <h2>Wygląd</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Turkmenistan_Airlines_Boeing_737-300_Karpezo-1.jpg/800px-Turkmenistan_Airlines_Boeing_737-300_Karpezo-1.jpg" alt="Boeing" />
        <br/>
        <br/>
        <h2>Opis</h2>
        <p>
        The Boeing 737 is a short- to medium-range twinjet narrow-body airliner. Originally developed as a shorter, lower-cost twin-engined airliner derived from Boeing's 707 and 727, the 737 has developed into a family of nine passenger models with a capacity of 85 to 215 passengers. The 737 is Boeing's only narrow-body airliner in production, with the -700, -800, and -900ER variants currently being built. A re-engined and redesigned version, the 737 MAX, is set to debut in 2017.
Originally envisioned in 1964, the initial 737-100 made its first flight in April 1967 and entered airline service in February 1968 at Lufthansa. Next, the lengthened 737-200 entered service in April 1968. In the 1980s Boeing launched the -300, -400, and -500 models, subsequently referred to as the Boeing 737 Classic series. The 737 Classics added capacity and incorporated CFM56 turbofan engines along with wing improvements. In the 1990s Boeing introduced the 737 Next Generation with multiple changes including a redesigned wing, upgraded cockpit, and new interior. The 737 Next Generation comprises the four -600, -700, -800, and -900ER models, ranging from 102 ft (31.09 m) to 138 ft (42.06 m) in length. Boeing Business Jet versions of the 737 Next Generation are also produced.
The 737 series is the best-selling jet airliner in the history of aviation. The 737 has been continuously manufactured by Boeing since 1967 with 8,263 aircraft delivered and 4,037 orders yet to be fulfilled as of October 2014. 737 assembly is centered at the Boeing Renton Factory in Renton, Washington. Many 737s serve markets previously filled by 707, 727, 757, DC-9, and MD-80/MD-90 airliners, and the aircraft currently competes primarily with the Airbus A320 family. There are 1,250 Boeing 737s airborne at any given time on average, with two departing or landing somewhere every five seconds as of 2006.
        </p> 
    </pre>
    <h2>Historia</h2>
    <p>
        <pre>Boeing had been studying short-haul jet aircraft designs and wanted to produce another aircraft to supplement the 727 on short and thin routes. Preliminary design work began on May 11, 1964, and Boeing's intense market research yielded plans for a 50- to 60-passenger airliner for routes 50 to 1,000 mi (80 to 1,609 km) long. Lufthansa became the launch customer on February 19, 1965, with an order for 21 aircraft, worth $67 million in 1965, after the airline received assurances from Boeing that the 737 project would not be canceled. Consultation with Lufthansa over the previous winter resulted in an increase in capacity to 100 seats.

The prototype 737, a -100 operated by NASA for testing.
On April 5, 1965, Boeing announced an order by United Airlines for 40 737s. United wanted a slightly larger airplane than the 737-100. So Boeing stretched the fuselage 91 centimeters (36 in) ahead of, and 102 cm (40 in) behind the wing. The longer version was designated 737-200, with the original short-body aircraft becoming the 737-100.
Detailed design work continued on both variants at the same time. Boeing was far behind its competitors when the 737 was launched, as rival aircraft BAC-111, Douglas DC-9, and Fokker F28 were already into flight certification. To expedite development, Boeing used 60% of the structure and systems of the existing 727, the most notable being the fuselage cross-section. This fuselage permitted six-abreast seating compared to the rival BAC-111 and DC-9's five-abreast layout. Design engineers decided to mount the nacelles directly to the underside of the wings to reduce the landing gear length and kept the engines low to the ground for easy ramp inspection and servicing. Many thickness variations for the engine attachment strut were tested in the wind tunnel and the most desirable shape for high speed was found to be one which was relatively thick, filling the narrow channels formed between the wing and the top of the nacelle, particularly on the outboard side. Originally, the span arrangement of the airfoil sections of the 737 wing was planned to be very similar to that of the 707 and 727, although somewhat thicker. However, a substantial improvement in drag at high Mach numbers was achieved by altering these sections near the nacelle. The engine chosen was the Pratt & Whitney JT8D-1 low-bypass ratio turbofan engine, delivering 14,500 lbf (64 kN) thrust. With the wing-mounted engines, Boeing decided to mount the horizontal stabilizer on the fuselage rather than the T-tail style of the Boeing 727</pre>
    </p>
{% endblock %}

