{% extends 'base.html.twig' %}

{% block body %}
        <h1>PZL M18 Dromader</h1>

    <pre>
        <br/>
        <h2>Wygląd</h2>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Greek_Air_Force_PZL_M-18_Dvurekov-1.jpg/240px-Greek_Air_Force_PZL_M-18_Dvurekov-1.jpg" alt="Dromader" />
        <br/>
        <br/>
        <h2>Opis konstrukcji</h2>
        <p>
        Jednosilnikowy dolnopłat o konstrukcji całkowicie metalowej, na 3-kołowym stałym podwoziu z kółkiem ogonowym, wyposażony w zbiornik chemikaliów lub wody pod kabiną pilota.
        
        <b>Dane techniczne:</b>
        Rozpiętość 17,70 m
        Długość 9,47 m
        Wysokość 3,70 m
        Pow. nośna 40,00 m²
        Masa własna 2710 kg
        Masa paliwa 285 kg
        Masa chemikaliów 1050-1850 kg
        Masa całkowita 5300 kg
        Prędkość maks. 256 km/h
        Prędkość min. 109 km/h
        Prędkość wznoszenia 6,9 m/s
        Pułap 6500 m
        Rozbieg 200 m
        Zasięg 520 km
        </ul>
        </p>

        <h2>Historia</h2>
        <p>
        Samolot został opracowany i jest produkowany przez PZL Mielec na podstawie licencji amerykańskiej firmy Rockwell na samolot S-2R Thrush Commander. Jednakże wykorzystano z tej maszyny jedynie fragmenty (struktura) konstrukcji kadłuba i skrzydeł.

        Polscy inżynierowie pod kierunkiem mgr inż. Józefa Oleksiaka uznali jednak, że na bazie tego silnika można zbudować maszynę o 40% cięższą. 
        Na bazie S2-R w 1974 r. rozpoczęły się prace projektowe nad nową konstrucją oznaczoną M-18 Dromader. Samolot w dużej mierze składał się z gotowych podzespołów płatowca S2-R, przeprojektowany został kadłub, część skrzydła, zbiorniki i podwozie. 
        Zasadnicza modyfikacja polegała na zamianie silnika na ASz-62IR (wersja S-2R posiadała silniki z demobilu firmy Pratt & Whitney). 
        Zastosowano też zmodyfikowane śmigło od An-2 Colt. Dromadery posiadają też uszczelnioną kabinę. Pierwszy prototyp został oblatany 27 sierpnia 1978 (pilot doświadczalny inż. Andrzej Pamuła).

        M-18 Dromader zyskał międzynarodowe uznanie i doczekał się kilku wersji:

        Model M-18A, wyposażony w zwrócony plecami do kierunku lotu fotel dla mechanika za kabiną pilota
        Model M18B – o masie ładunku handlowego 2200 kg, załoga: 1 pilot (możliwy przewóz 1 mechanika)
        Model M18BS – wersja szkolna (dwuster) – załoga: pilot-instruktor + uczeń + 700 kg ładunku handlowego
        Na jego podstawie skonstruowano również (prototypy):
        - PZL M-21 Dromader Mini
        - PZL M-24 Dromader Super
        - PZL M-25 Dromader Mikro
        </p>
        

    </pre>
{% endblock %}
