{% extends 'base.html.twig' %}

{% block body %}
    <pre>
       <h1>Eurofighter Typhoon</h1> 
Eurofighter Typhoon (pol. Europejski myśliwiec Tajfun, także "EF-2000") – dwusilnikowy myśliwiec wielozadaniowy zbudowany
 w układzie kaczki przez konsorcjum trzech europejskich producentów lotniczych – Alenia Aeronautica, BAE Systems i EADS – współpracujących w ramach 
holdingu Eurofighter GmbH założonego w 1983 roku. Projekt budowy i wyposażenia samolotu jest zarządzany przez agencję NETMA (NATO Eurofighter and Tornado Management Agency)[4][5]. 
Projekt samolotu jest podobny do opracowanych w tym samym okresie myśliwców generacji 4,5 – francuskiego Dassault Rafale i szwedzkiego Saab JAS 39 Gripen.
<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Typhoon_f2_zj910_arp.jpg/240px-Typhoon_f2_zj910_arp.jpg">
<h2>Historia Samolotu</h2>
Pod koniec lat 70. XX wieku wiele państw europejskich stanęło przed koniecznością wymiany przestarzałych samolotów 
bojowych, znacząco odbiegających parametrami od amerykańskich F-15 i F-16 oraz najnowszych konstrukcji sowieckich, 
MiG-a-29 i Su-27. Przewidując tę sytuację, już na początku lat 70. rozpoczęto na zlecenie RAF-u projektowanie 
samolotu oznaczonego jako AST-396 (Air Staff Target 396), który po wielu zmianach ostatecznie wyewoluował do postaci wielozadaniowego Typhoona.
    </pre>
{% endblock %}
