{% extends 'base.html.twig' %}

{% block body %}
        <h1>Avro Lincoln</h1>

    <pre>
        <br/>
        <h2>Wygląd</h2>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Avro_Lincoln_ExCC.jpg/240px-Avro_Lincoln_ExCC.jpg" alt="Obrazek" />
        <br/>
        <br/>
        <h2>Służba</h2>
        <p>
        Samoloty Lincoln używane były przez lotnictwo brytyjskie (RAF) i australijskie (RAAF, 73 sztuki), a także argentyńskie (30 sztuk). 
        Trzy samoloty testowane były w Kanadzie. Pomimo, że były znacznie mniej nowoczesne od używanych równocześnie amerykańskich Boeing B-29 Superfortress (pod nazwą Washington), 
        Lincolny stanowiły podstawę brytyjskiego lotnictwa strategicznego do połowy lat 50., kiedy jako całkowicie przestarzałe zostały zastąpione przez bombowce odrzutowe serii 'V'. 
        Używane były również do lotów rozpoznawczych, głównie nad NRD. 12 marca 1953 jeden Lincoln w czasie lotu treningowego został zestrzelony w okolicy Berlina, na granicy stref przez radzieckie myśliwce, załoga zginęła.
        </p>

        <h2>Historia</h2>
        <p>
        Samolot Avro Lincoln powstał na zamówienie nowego bombowca o dużym zasięgu, według wymagań technicznych B.14/43. 
        Nowy samolot był powiększonym rozwinięciem udanego ciężkiego bombowca Avro Lancaster z 1941 roku, z którego wykorzystano wiele elementów; jego głównym projektantem był Roy Chadwick. 
        Początkowo nowy samolot oznaczono nawet Lancaster Mk.IV / Mk.V.
        </p>
        <p>
        Pierwszy lot prototypu miał miejsce 9 czerwca 1944 roku. Samolot przyjęto następnie do produkcji pod oznaczeniem fabrycznym typu Avro typ 694 i nową nazwą Lincoln. 
        Produkcja ich jednak opóźniła się z uwagi na pierwszeństwo dostaw produkowanych już Lancasterów. Pierwsze seryjne Lincolny trafiły dopiero w sierpniu 1945 do pierwszej jednostki, 57. dywizjonu RAF. 
        Miały służyć do bombardowania Japonii w składzie Tiger Force, lecz nie nastąpiło to przed końcem wojny. Do regularnej służby ten typ samolotu wszedł dopiero w lutym 1946, w 44. dywizjonie RAF.
        </p>
        

    </pre>
{% endblock %}
