{% extends 'base.html.twig' %}

{% block body %}
        <h1>Mirage 2000</h1>

    <pre>
        <br/>
        <h2>Wygląd</h2>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/69/French_Mirage_2000_finishes_refueling_from_KC-10A_2009-12-06_mod1.jpg/240px-French_Mirage_2000_finishes_refueling_from_KC-10A_2009-12-06_mod1.jpg" alt="Obrazek" />
        <br/>
        <br/>
        <h2>Opis konstrukcji</h2>
        <p>
        Samolot Mirage 2000 to jednomiejscowy (lub dwumiejscowy) samolot myśliwski i myśliwsko-szturmowy. 
        Dolnopłat w układzie delta o konstrukcji całkowicie metalowej. 
        Napęd: jeden silnik odrzutowy umieszczony w kadłubie.
        </p>

        <h2>Historia</h2>
        <p>
        W połowie lat siedemdziesiątych XX wieku we francuskiej firmie lotniczej Dassault Aviation przystąpiono do projektowania nowego samolotu myśliwskiego serii oznaczonej jako Mirage. 
        Konstrukcję tego samolotu oparto na budowanych już samolotach Mirage III i Mirage 5. Tak zaprojektowany samolot otrzymał oznaczenie Dassault Mirage 2000. Inżynierowie wykorzystali skrzydło delta, 
        które uznawano wtedy za przestarzałe. Środek aerodynamiczny samolotu przesunięto przed jego środek ciężkości, co poprawiło jego zwrotność i skróciło rozbieg, główne wady starszych skrzydeł delta. 
        W samolocie zastosowano sterowanie komputerowe fly-by-wire, dwuczęściowe sterolotki na całej długości każdego ze skrzydeł oraz dwu częściowe sloty wzdłuż krawędzi natarcia o kącie 58°.
        <br/>
        <p>
        Prototyp samolotu Mirage 2000 został oblatany 10 marca 1978 roku. Próby w locie potwierdziły jego przydatność, a osiągi spełniały założenia jakie przed nim postawiono. Seryjny egzemplarz oblatano 20 listopada 1982, 
        dostawy rozpoczęto w 1983 roku, a pierwsza eskadra została sformowana w 1984, 
        co zbiegło się z 50-leciem francuskich sił powietrznych. Z powodu opóźniania rozwoju kluczowych systemów, pierwsze 37 egzemplarzy dostarczono bez docelowego silnika i radaru.
        </p>
        

    </pre>
{% endblock %}
