{% extends 'base.html.twig' %}

{% block body %}
    <pre>
       <h1>Panavia Tornado</h1> 
Panavia Tornado – rodzina dwusilnikowych, odrzutowych samolotów myśliwskich o zmiennej geometrii skrzydeł wyprodukowanych przy współpracy Wielkiej Brytanii, Niemiec i Włoch. 
<br>Istnieją trzy główne wersje samolotu Tornado:<br> 
<li>wersja szturmowa Tornado IDS (ang. Interdictor/Strike)
<li>wersja przechwytująca Tornado ADV (ang. Air Defense Variant)
<li>wersja przeznaczona do walki elektronicznej Tornado ECR (ang. Electronic Combat/Reconaissance)
</li>
<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Panavia_Tornado_IDS_of_Luftwaffe%2C_static_display%2C_Radom_AirShow_2005%2C_Poland.jpg/240px-Panavia_Tornado_IDS_of_Luftwaffe%2C_static_display%2C_Radom_AirShow_2005%2C_Poland.jpg">
<h2>Historia Samolotu</h2>
Rodowód samolotu Tornado jest złożony. Po drastycznych cięciach budżetu wojskowego Wielkiej Brytanii pod koniec lat 50 i 60 XX wieku i zaprzestaniu rodzimych projektów, brytyjski 
przemysł lotniczy nie był w stanie samodzielnie wytworzyć nowoczesnego odrzutowego samolotu bojowego, mogącego zastąpić starzejące się bombowce Canberra i wypożyczone
od Amerykanów myśliwce F-4 Phantom. Brytyjczycy postanowili szukać kooperantów na kontynencie: w 1966 r. 
zawiązali z Francuzami konsorcjum SEPECAT, które stworzyło lekki samolot szturmowy Jaguar. 
Strona francuska wycofała się jednak z negocjacji projektu samolotu AFVG (Anglo-French Variable Geometry – angielsko-francuskiego 
samolotu o zmiennym skosie skrzydeł), wobec czego brytyjska 
British Aircraft Company (BAC) pozyskała partnerów w postaci niemieckiego Messerschmitt-Boelkow-Blohm, włoskiego Fiata oraz holenderskiego Fokkera. 
Spółkę tych firm pod nazwą Panavia Aircraft Gmbh utworzono w 1969 r. Planowano wytwarzać dwie wersje samolotu: jednomiejscową dla Luftwaffe, lotnictwa włoskiego AMI i holenderskiego KLu 
oraz dwumiejscową dla RAF i niemieckiego lotnictwa morskiego Marineflieger. 
Pierwsze użycie bojowe samolotów tego typu nastąpiło podczas operacji Pustynna Burza (maszyny te należały do RAF oraz do lotnictwa włoskiego). 
Uderzeniowe Tornado RAF wykonywały najtrudniejsze zadania uderzeniowe na silnie bronione obiekty położone na głębokim zapleczu przeciwnika – lotniska, mosty, 
centra łączności i dowodzenia. Wraz z amerykańskimi F-15E Strike Eagle uczestniczyły również w polowaniu na ruchome wyrzutnie pocisków balistycznych Scud. 
W trakcie walk od ognia irackiej obrony przeciwlotniczej utracono 6 maszyn.
    </pre>
{% endblock %}
