{% extends 'base.html.twig' %}

{% block body %}
        <h1>PZL 37 Łoś</h1>
        <br/>
        <h2>Wygląd</h2>
        <img src="http://upload.wikimedia.org/wikipedia/commons/3/31/PZL-37_Los.jpg" alt="PZL 37" />
        <br/>
        <br/>
        <h2>Opis</h2>
        <p><pre>
        Polskiej konstrukcji i produkcji średni, dwusilnikowy bombowiec zbudowany w układzie dolnopłata o konstrukcji całkowicie metalowej z podwoziem chowanym w locie.
        </pre></p> 

        <h2>Historia</h2>
        <p>
        Projekt wstępny został złożony w Departamencie Lotnictwa MSWojsk. w lipcu 1934 roku. Konstruktorami samolotu byli: inż. Jerzy Dąbrowski (główny konstruktor), Piotr Kubicki (zastępca), Franciszek Misztal (konstrukcja płata). W październiku tegoż roku uzyskano zamówienie na prototyp, w kwietniu 1935 roku zaakceptowano makietę samolotu. Oblotu pierwszego prototypu dokonał 13 grudnia 1936 roku pilot doświadczalny Wytwórni PZL Jerzy Widawski.
        </p>
        <h2>Geneza</h2>
        <p>
        Potrzeba skonstruowania takiego samolotu wynikała z kilku względów. Pierwszym z nich była modna w tym czasie teoria Douheta, która zakładała, że główną siłą lotnictwa mają być samoloty bombowe (gorącym zwolennikiem tej teorii był ówczesny dowódca lotnictwa gen. Ludomił Rayski). Drugim powodem była starzejąca się flota używanych samolotów bombowych Fokker F VIIB/3m. Impulsem były też nowości w konstrukcjach lotniczych – chowane w locie podwozie, silniki lotnicze ze sprężarkami i śmigłami o zmiennym skoku, bogata mechanizacja płata (sloty, klapy). Prace projektowe w Państwowych Zakładach Lotniczych – Wytwórni Płatowców nr 1 – rozpoczął w 1934 r. zespół, którym kierował Jerzy Dąbrowski. Dąbrowski przedstawił wstępny projekt czteromiejscowego bombowca średniego, o konstrukcji całkowicie metalowej. W czasie projektowania główny nacisk kładziono na jak najlepsze osiągi, przy jak największym udźwigu. Departament Aeronautyki MSWojsk. wymagał, aby bombowiec osiągał prędkość ponad 360 km/h (co było wartością większą od osiągów ówczesnych myśliwców PZL P.7), miał maksymalny zasięg około 3000 km (z niewielkim ładunkiem bomb) i przenosił maksymalny ładunek 2500 kg bomb. W drugiej połowie 1935 r. wojsko potwierdziło zamówienie na 10 samolotów serii informacyjnej. Produkcją samolotu zajęły się zakłady PZL-WP nr 1 przy lotnisku Okęcie.
        </p>
        <h2>Nowatorstwo i problemy</h2>
        <ul>
            <li>Profil płata IAW-743. To pierwszy profil z maksymalną grubością względną w odległości 40% cięciwy płata. Taką zmianę wymogły wymiary bomb mieszczących się w centropłacie. Po dmuchaniach okazało się, że opory aerodynamiczne tego płata są wyraźnie niższe niż pierwotnie zakładano. Był to pierwszy profil laminarny w Polsce i jeden z pierwszych na świecie.</li>
            <li>Wąski kadłub o małym przekroju czołowym. Taki kształt kadłuba generował około 10-15% całkowitej siły nośnej, dawał znikome opory czołowe i przyczyniał się do dobrych osiągów prędkościowych maszyny, jednakże był źródłem ciasnoty i problemów w komunikacji załogi podczas lotu oraz utrudniał awaryjne opuszczenie samolotu w przypadku zestrzelenia.</li>
            <li>Małe siły na sterach. Dążenie do małych sił na sterach (dobra sterowność samolotu) stało się przyczyną zbyt dużych wzmocnień (przekompensowania), co spowodowało liczne śmiertelne wypadki podczas służby w dywizjonach bombowych.</li>
            <li>Podwójne, „bliźniacze” koła podwozia głównego. Pozwalały one na lądowanie na lotniskach polowych, jednakże na lotniskach piaszczystych lub podmokłych, nieprzewidzianych przez konstruktorów, samolot mógł zabrać jedynie 800 kg bomb.</li>
            <li>Małe rozmiary samolotu. Samolot miał, jak na swoją masę startową, nieduże rozmiary (wysoka nośność i spore obciążenie powierzchni płata). Przy braku samouszczelniających się zbiorników na paliwo (rzadkość w samolotach z tamtego okresu) i osłon chroniących załogę przed pociskami wroga, konstrukcja samolotu okazała się wrażliwa na uszkodzenia odniesione w walce, szczególnie podczas ataku na kolumny pancerne wroga (mające silną obronę przeciwlotniczą i osłonę myśliwców).</li>
            <li>Cena samolotu. Nowatorskie rozwiązania, przy niedużej serii wyprodukowanych maszyn sprawiły, że cena płatowca z silnikami przekroczyła 450 tys. zł. Za tę cenę można było wyprodukować większą liczbę myśliwców, bardziej potrzebnych w wojnie obronnej niż bombowce.</li>
            <li>Niezrealizowane pomysły: Łoś, nieobciążony bombami, dobrze wykonywał akrobacje. Środek wyporu płata był w pobliżu środka ciężkości samolotu. Z tego powodu inż. Franciszek Suchos zaproponował umieszczenie w nosie maszyny 6-8 km-ów i przezbrojenie samolotu w ciężki myśliwiec do zwalczania bombowców wroga (w podobny sposób Niemcy przebudowali bombowiec Junkers Ju 88 do roli ciężkiego myśliwca). Jednak wykorzystanie tak przezbrojonego Łosia wymagałoby przeszkolenia pilota w akrobacji i technice walki powietrznej – a programu takiego w procesie szkolenia nie było.</li>
            <li>Dążenie do możliwie małej masy silnika skutkowało awariami reduktorów i pękaniem tłoków podczas pracy silnika. Do wybuchu wojny problemy te rozwiązano, zmieniając przełożenie reduktora i wprowadzając inny sposób znakowania tłoków silnika.</li>
            <li>Wyposażenie dodatkowe. Przewidziane przez konstruktorów bogate wyposażenie dodatkowe sprawiało, że wiele samolotów technicznie zdolnych do lotu było niezdolnych do walki z powodu braku uzbrojenia i środków łączności.</li>
        </ul>
{% endblock %}
